<mat-toolbar color="primary">
  <span>{{ title }}</span>
</mat-toolbar>

<div class="container">
  <mat-card *ngFor="let meal of meals" class="example-card">
    <mat-card-header>
      <mat-card-title>{{ meal.strMeal }}</mat-card-title>
      <mat-card-subtitle>{{ meal.strCategory }} - {{ meal.strArea }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="meal.strMealThumb" [alt]="meal.strMeal" />
    <mat-card-content>
      <p>{{ meal.strInstructions | slice: 0:150 }}...</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="accent" target="_blank">
        Watch Recipe
      </button>
    </mat-card-actions>
  </mat-card>
</div>
